header{
    nav{
        ul{
            display: flex;
            li{
                list-style: none;
                a{
                    color: red;
                }
            }
        }
    }
}